openapi: 3.1.0
info:
  title: MOSTLY AI Platform REST About Connectors API
  version: v2
  description: 'REST API for the hosted MOSTLY AI synthetic-data Platform. Lets you

    manage connectors, generators (TabularARGN-powered models), synthetic

    datasets, runs, synthetic probes, datasets, computes, and your account.


    Authentication uses an API key supplied via the `X-MOSTLY-API-KEY`

    header. Keys are issued from the user profile menu in the MOSTLY AI web

    application. A missing or invalid key returns `401 Unauthorized`.

    '
  contact:
    name: MOSTLY AI
    url: https://api-docs.mostly.ai/
servers:
- url: https://app.mostly.ai/api/v2
  description: MOSTLY AI hosted Platform
security:
- apiKey: []
tags:
- name: Connectors
paths:
  /connectors:
    get:
      tags:
      - Connectors
      operationId: listConnectors
      summary: List connectors.
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      - name: searchTerm
        in: query
        schema:
          type: string
      - name: visibility
        in: query
        schema:
          type: string
          enum:
          - PRIVATE
          - PUBLIC
      responses:
        '200':
          description: Success
    post:
      tags:
      - Connectors
      operationId: createConnector
      summary: Create a connector.
      parameters:
      - name: testConnection
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
  /connectors/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Connectors
      operationId: getConnector
      summary: Get a connector.
      responses:
        '200':
          description: Success
    patch:
      tags:
      - Connectors
      operationId: updateConnector
      summary: Update a connector.
      parameters:
      - name: testConnection
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Connectors
      operationId: deleteConnector
      summary: Delete a connector.
      responses:
        '204':
          description: Deleted
  /connectors/{id}/locations:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Connectors
      operationId: listConnectorLocations
      summary: List locations available through a connector.
      parameters:
      - name: prefix
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
  /connectors/{id}/schema:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Connectors
      operationId: getConnectorSchema
      summary: Retrieve schema for a connector location.
      parameters:
      - name: location
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  /connectors/{id}/query:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Connectors
      operationId: queryConnector
      summary: Run a query through a connector.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
  /connectors/{id}/read-data:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Connectors
      operationId: readConnectorData
      summary: Read data through a connector.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
  /connectors/{id}/write-data:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Connectors
      operationId: writeConnectorData
      summary: Write data through a connector.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MOSTLY-API-KEY
      description: API key issued from the user profile in the MOSTLY AI web app.
