openapi: 3.1.0
info:
  title: MOSTLY AI Platform REST About Users API
  version: v2
  description: 'REST API for the hosted MOSTLY AI synthetic-data Platform. Lets you

    manage connectors, generators (TabularARGN-powered models), synthetic

    datasets, runs, synthetic probes, datasets, computes, and your account.


    Authentication uses an API key supplied via the `X-MOSTLY-API-KEY`

    header. Keys are issued from the user profile menu in the MOSTLY AI web

    application. A missing or invalid key returns `401 Unauthorized`.

    '
  contact:
    name: MOSTLY AI
    url: https://api-docs.mostly.ai/
servers:
- url: https://app.mostly.ai/api/v2
  description: MOSTLY AI hosted Platform
security:
- apiKey: []
tags:
- name: Users
paths:
  /users/me:
    get:
      tags:
      - Users
      operationId: getMe
      summary: Retrieve information about the current user.
      responses:
        '200':
          description: Success
  /users/me/settings:
    get:
      tags:
      - Users
      operationId: getMySettings
      summary: Get current user settings.
      responses:
        '200':
          description: Success
    patch:
      tags:
      - Users
      operationId: updateMySettings
      summary: Update current user settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
  /users/me/key:
    post:
      tags:
      - Users
      operationId: rotateApiKey
      summary: Generate or rotate the current user's API key.
      responses:
        '200':
          description: Success
  /users/me/notifications:
    get:
      tags:
      - Users
      operationId: listMyNotifications
      summary: List notifications for the current user.
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MOSTLY-API-KEY
      description: API key issued from the user profile in the MOSTLY AI web app.
