openapi: 3.1.0
info:
  title: MOSTLY AI Platform REST About Generators API
  version: v2
  description: 'REST API for the hosted MOSTLY AI synthetic-data Platform. Lets you

    manage connectors, generators (TabularARGN-powered models), synthetic

    datasets, runs, synthetic probes, datasets, computes, and your account.


    Authentication uses an API key supplied via the `X-MOSTLY-API-KEY`

    header. Keys are issued from the user profile menu in the MOSTLY AI web

    application. A missing or invalid key returns `401 Unauthorized`.

    '
  contact:
    name: MOSTLY AI
    url: https://api-docs.mostly.ai/
servers:
- url: https://app.mostly.ai/api/v2
  description: MOSTLY AI hosted Platform
security:
- apiKey: []
tags:
- name: Generators
paths:
  /generators:
    get:
      tags:
      - Generators
      operationId: listGenerators
      summary: List generators.
      responses:
        '200':
          description: Success
    post:
      tags:
      - Generators
      operationId: createGenerator
      summary: Create a generator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
  /generators/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Generators
      operationId: getGenerator
      summary: Get a generator.
      responses:
        '200':
          description: Success
    patch:
      tags:
      - Generators
      operationId: updateGenerator
      summary: Update a generator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Generators
      operationId: deleteGenerator
      summary: Delete a generator.
      responses:
        '204':
          description: Deleted
  /generators/{id}/config:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Generators
      operationId: getGeneratorConfig
      summary: Get a generator's config.
      responses:
        '200':
          description: Success
  /generators/{id}/clone:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Generators
      operationId: cloneGenerator
      summary: Clone a generator.
      responses:
        '201':
          description: Created
  /generators/{id}/training/start:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Generators
      operationId: startGeneratorTraining
      summary: Start training a generator.
      responses:
        '200':
          description: Success
  /generators/{id}/training/cancel:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Generators
      operationId: cancelGeneratorTraining
      summary: Cancel a generator's training job.
      responses:
        '200':
          description: Success
  /generators/{id}/training:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Generators
      operationId: getGeneratorTraining
      summary: Get a generator's training status.
      responses:
        '200':
          description: Success
  /generators/{id}/tables:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Generators
      operationId: listGeneratorTables
      summary: List a generator's tables.
      responses:
        '200':
          description: Success
  /generators/{id}/export-to-file:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Generators
      operationId: exportGenerator
      summary: Export a generator to a file.
      responses:
        '200':
          description: Success
  /generators/import-from-file:
    post:
      tags:
      - Generators
      operationId: importGenerator
      summary: Import a generator from a file.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MOSTLY-API-KEY
      description: API key issued from the user profile in the MOSTLY AI web app.
