openapi: 3.1.0
info:
  title: MOSTLY AI Platform REST About Organizations API
  version: v2
  description: 'REST API for the hosted MOSTLY AI synthetic-data Platform. Lets you

    manage connectors, generators (TabularARGN-powered models), synthetic

    datasets, runs, synthetic probes, datasets, computes, and your account.


    Authentication uses an API key supplied via the `X-MOSTLY-API-KEY`

    header. Keys are issued from the user profile menu in the MOSTLY AI web

    application. A missing or invalid key returns `401 Unauthorized`.

    '
  contact:
    name: MOSTLY AI
    url: https://api-docs.mostly.ai/
servers:
- url: https://app.mostly.ai/api/v2
  description: MOSTLY AI hosted Platform
security:
- apiKey: []
tags:
- name: Organizations
paths:
  /organizations:
    get:
      tags:
      - Organizations
      operationId: listOrganizations
      summary: List organizations.
      responses:
        '200':
          description: Success
  /organizations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Organizations
      operationId: getOrganization
      summary: Get an organization.
      responses:
        '200':
          description: Success
  /organizations/{id}/members:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Organizations
      operationId: listOrganizationMembers
      summary: List members of an organization.
      responses:
        '200':
          description: Success
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MOSTLY-API-KEY
      description: API key issued from the user profile in the MOSTLY AI web app.
